# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual Environment
venv/
.env
.env.*

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Databricks
databricks.yml

# Local configs
config.py


# OS
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Build
dist/
build/